
@theme{
    /* Adding custom spacing */
    --spacing-1250: 1.25rem; /* 20px */
    --spacing-14375: 1.4375rem; /* 23px */
    --spacing-1500: 1.5rem; /* 24px */
    --spacing-1875: 1.875rem; /* 30px */
    --spacing-2500: 2.5em; /* 40px */


    /* Adding custom breakpoints */
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
    --breakpoint-large: 90rem; /* 1440px */

}