<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealotZone Test</title>
    <script type="import"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>


    <div class="container">
        <div class="main-skeleton">

            <!-- #region Main Nav -->
            <div class="main-content-nav">
                <section title="Main Nav">
                    Nav Here
                </section>
            </div>
            <!-- #endregion -->


            <!-- #region Main Content -->
            <div class="main-content-skeleton">
                <!-- #region Header -->
                <div class="header-skeleton">
                    <section title="Header">
                        <header>

                            <!-- Header using ASP tag-helper :) -->
                            <partial name="Header/_Header" />

                        </header>
                    </section>
                </div>
                <!-- #endregion -->

                <!-- #region Main Content Body -->
                <div class="main-content-body">
                    <section title="Main Content">
                        @RenderBody()
                    </section>
                </div>
                <!-- #endregion -->
            </div>
            <!-- #endregion -->



        </div>
        <!-- #region Footer -->
        <div class="main-content-footer-skeleton">
            <section title="Footer">
                Footer Here
            </section>
        </div>
        <!-- #endregion -->
    </div>






    <!-- Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>