<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealotZone Test</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="bg-alpha-background">
    <div class="container">
        <div class="main-skeleton">

            <!-- #region Main Nav -->
            <div class="main-content-nav">
                <section title="Main Nav">
                    <partial name="Navigation/_HeaderNavigation" />
                </section>
            </div>
            <!-- #endregion -->


            <!-- #region Main Content -->
            <div class="main-content-skeleton">
                <!-- #region Header -->
                <div class="header-skeleton">
                    <section title="Header">
                        <header>
                            <!-- Header using ASP tag-helper :) -->
                            <partial name="Header/_Header" />
                        </header>
                    </section>
                </div>
                <!-- #endregion -->


                <div class="main-content-project-nav ">
                    <h1>Projects</h1>
                    Add Project Button
                </div>


                <!-- #region Main Content Body -->
                <section title="Main Content">
                    <div class="main-content-body">
                        <div class="main-content-body-content">
                            @RenderBody()
                        </div>


                        <!-- #endregion -->
                    </div>
                </section>
            </div>
            <!-- #endregion -->

            <div class="main-content-footer">
                <section title="Footer">
                    Footer Here
                </section>
            </div>

        </div>
        <!-- #region Footer -->
        <div class="main-content-footer-skeleton">
            <section title="Footer">
                Footer Here
            </section>
        </div>
        <!-- #endregion -->
    </div>

    <!-- Scripts - now only bundle.js -->
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/js/vendor/lodash/lodash.js" asp-append-version="true"></script>
    <script src="~/js/vendor/vanilla-calendar-pro/index.js" asp-append-version="true"></script>
    <script src="~/js/vendor/preline/preline.js" asp-append-version="true"></script>
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>