<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ZealotZone Test</title>
    <script type="import"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
<header>
    <section title="Header">
        <!-- Header using ASP tag-helper :) -->
        @await Html.PartialAsync("Header/_Header")
    </section>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <section title="Footer">
        <!-- Footer using ASP tag-helper :) -->
      <!--  <partial name="Footer/_footer" />-->
    </section>
</footer>

<!-- Scripts -->

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>