<div class="hs-dropdown relative inline-flex">
    <button id="hs-dropdown-custom-icon-trigger" type="button" class="z-10 hs-dropdown-toggle card-navigation-button"
        aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
        <i data-lucide="ellipsis" class="size-1250"></i>
    </button>

    <div class="card-navigation-menu hs-dropdown-menu " role="menu" aria-orientation="vertical"
        aria-labelledby="hs-dropdown-with-title">
        <div class="p-0500 space-y-0500">
            <a href="#" class="card-navigation-hover">
                <i data-lucide="pencil" class="size-1250"></i>
                Edit
            </a>
            <a href="#" class="card-navigation-hover">
                <i data-lucide="user-plus" class="size-1250"></i>
                Add User
            </a>
        </div>
        <div class="p-1 space-y-0.5 card-navigation-divider">
            <a class="card-navigation-menu--red card-navigation-hover" href="#">
                <i data-lucide="trash-2" class="size-1250"></i>
                Delete Project
            </a>
        </div>
    </div>
</div>
