<div class="flex items-center justify-between py-1875 px-1875">
    <h1>
        @ViewData["Title"]
    </h1>
    <!-- TODO: Add Modal Trigger-->
    <button class="btn-primary" type="button" data-toggle="modal" data-target="#addProjectModal">
        <i data-lucide="plus" class="size-1000"></i>
        Add Project
    </button>
</div>