<div class="header_container">

    <div class="header_menu">
        <p class="pr-1750">Bell Icon</p>
        <p>Dark Theme Switcher</p>
        <p class="pr-1500 pl-14375"> | </p>
        <div class="py-2500">Icon Menu</div>
    </div>

</div>