
<!-- use that -> await Html.PartialAsync("Components/Forms/_FormInput") -->

<div class="px-20 py-10 bg-neutral-50">
    <input type="text" class="form-input" placeholder="Your email address">
</div>