@{
    var avatarCssVariant = Model.AvatarSizeVariantClass ?? "";
    var avatarUrl = Model.AvatarImageUrl ?? "/media/avatars/upload_avatar.svg";
    var avatarAltText = Model.AvatarAltText ?? "";
    var avatarSize = Model.AvatarSize ?? "";
}


@model ListAvatarViewModel

<div class="avatar-container @avatarCssVariant @avatarSize">
    <img src="@Url.Content(avatarUrl)" alt="@avatarAltText">
</div>

<!--
<div class="element-gradient-random p-40 ">
    dsfd sads d
</div>
-->