@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    Going to add something :)


    @{
        for (int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }
    }

    <h1 class="text-amber-950 text-8xl">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="bg-linear-to-br bg-amber-500 p-20 hover: bg-amber-950 cursor-pointer">Click me</button>
</div>