<div class="project-card">

    <!-- #region Project Card Header  -->
    <div class="project-card-header">
        <div class="project-card-icon">
            <!-- Hardcoded shit, the SVG icon is not square and Hardcoded 4 px padding bottom because shadow" ..-->
            <div class="icon-gradient element-gradient-random">
                <img src="~/media/images/alpha.svg" alt="Alpha" class="h-full w-full">
            </div>
        </div>

        <div class="w-full">
            <h6>ASP.NET Web App</h6>
            <p class="font-regular text-alpha-body-light">
                EPN Sverige AB
            </p>
        </div>
        <div>
            Menu
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Project Card Body -->
    <div class="project-card-body">
        <p>
            You need to develop an web application on that simulates a admin portal.
        </p>
    </div>
    <!-- #endregion -->

    <!-- #region Project Card Footer -->
    <div class="project-card-footer">
        <!-- Apply project-card-time-left--red class  -->
        <!-- #region Time Left -->
        <div>
            <div class="project-card-time-left gap-0500">
                <div>
                    <i data-lucide="clock" class=" stroke-2 text-alpha-heading rounded-full"></i>
                </div>
                <p class="text-body-regular-14">1 week left</p>
            </div>
        </div>
        <!-- #endregion -->


        <!-- #region Create List -->
        <div>
            @{
                // An simple List, this will be extracted from somewhere else
                // TODO: This list creating need to be moved out later
                var projectAvatars = new List<ListAvatarViewModel>
                        {
                        new ListAvatarViewModel
                        {
                        AvatarImageUrl = "~/media/avatars/avatar_01.svg",
                        AvatarAltText = "Avatar 01",
                        AvatarSizeVariantClass = "avatar-container--project-card"
                        },
                        new ListAvatarViewModel
                        {
                        AvatarImageUrl = "~/media/avatars/avatar_02.svg",
                        AvatarAltText = "Avatar 02",
                        AvatarSizeVariantClass = "avatar-container--project-card"
                        },
                        new ListAvatarViewModel
                        {
                        AvatarImageUrl = "~/media/avatars/avatar_03.svg",
                        AvatarAltText = "Avatar 03",
                        AvatarSizeVariantClass = "avatar-container--project-card"
                        }
                        };
            }

            <!-- #region Render Partial -->
            @foreach (var avatar in projectAvatars)
            {
                await Html.RenderPartialAsync("Components/Avatars/_Avatar", avatar);
            }
            <!-- #endregion -->

        </div>
        <!-- #endregion -->
    </div>
    <!-- #endregion -->

</div>
