@layer components {
	/* Card Navigation */
	.card-navigation-button {
		@apply text-body-regular-15 bg-alpha-surface hover:bg-alpha-grey-100
			focus:bg-alpha-grey-100 dark:hover:bg-alpha-accent-opacity
			dark:text-alpha-heading dark:hover:text-alpha-heading
			dark:focus:bg-alpha-grey-100 flex size-2500 items-center
			
			justify-center rounded-[var(--spacing-0875)] font-semibold
			hover:rounded-[var(--spacing-0875)] focus:outline-hidden
			disabled:pointer-events-none disabled:opacity-50;
	}

	.card-navigation-menu {
		@apply hs-dropdown-open:opacity-100 bg-alpha-surface 
				shadow-popover-80 dark:bg-alpha-surface z-50 hidden 
				rounded-[var(--spacing-0875)] opacity-0 dark:border dark:border-neutral-700;
	}

	.card-navigation-menu--card-size {
		@apply text-alpha-red dark:text-alpha-red;
	}

	.card-navigation-divider-bottom {
		@apply border-b border-alpha-border-100 dark:border-alpha-border-100;
	}

	.card-navigation-hover {
		@apply hover:bg-alpha-grey-100 focus:bg-alpha-grey-100 dark:text-alpha-heading dark:hover:bg-alpha-accent-opacity dark:hover:text-alpha-heading focus:outline-hidden dark:focus:bg-neutral-700;
	}

	.card-navigation-hover--ascent {
		@apply hover:bg-alpha-accent-opacity focus:bg-alpha-accent-opacity dark:text-alpha-heading dark:hover:bg-alpha-accent-opacity dark:hover:text-alpha-heading focus:outline-hidden dark:focus:bg-neutral-700;
	}

	& a {
		@apply text-body-regular-15 text-alpha-heading flex 
		items-center gap-x-3.5 rounded-[var(--spacing-0875)] px-3 py-1000;
	}

	& a.card-navigation-menu--red {
		@apply text-alpha-red dark:text-alpha-red;
	}

	.card-navigation-divider {
		@apply border-t border-alpha-border-100 dark:border-alpha-border-100;
	}

	.card-navigation-divider-bottom {
		@apply border-b border-alpha-border-100 dark:border-alpha-border-100;
	}

	/* Main Side Navigation */
	.alpha-side-navigation-container {
		@apply top-0 bottom-0 h-full transition-all duration-300 transform -translate-x-full dark:bg-alpha-background bg-alpha-background dark:border-alpha-border-200 border-e border-alpha-border-200 w-16250 start-0 z-60;
	}

	.alpha-side-navigation-nav {
		@apply h-full overflow-y-auto bg-alpha-background;

		& a {
			@apply font-semibold flex items-center text-gray-800 rounded-[var(--spacing-1000)] hover:text-alpha-dark-accent bg-alpha-background gap-x-1125 py-10625 px-1250 hover:bg-alpha-accent-opacity focus:outline-hidden focus:bg-gray-100 dark:bg-alpha-background dark:hover:bg-alpha-accent-hover dark:focus:bg-neutral-700 dark:text-alpha-accent;
		}

		& .selected {
			@apply bg-alpha-accent-opacity text-alpha-accent;
		}
	}
}
