@layer components {
	/* Primary button, mostly for actions */
	.btn-primary {
		@apply 
            py-0875 pr-1500 pl-1375 inline-flex justify-center 
            items-center gap-x-2 text-sm font-medium 
            rounded-[var(--spacing-0875)]
            
            border border-white 
            bg-alpha-accent text-white 
            
            hover:bg-alpha-accent/85
            focus:outline-hidden 
            focus:bg-alpha-accent/70

            drop-shadow-[var(--shadow-button)]
            disabled:bg-alpha-accent/75
            disabled:pointer-events-none
            ;
	}

    /* Secondary button, mostly for login and signup */
	.btn-secondary {
		@apply 
            min-w-[var(--spacing-40000)]
            py-0875 px-1500 inline-flex justify-center 
            items-center gap-x-2 text-sm font-medium 
            rounded-[var(--spacing-0875)]
            
            border border-white 
            bg-alpha-accent text-white 
            
            hover:bg-alpha-accent/85
            focus:outline-hidden 
            focus:bg-alpha-accent/70

            drop-shadow-[var(--shadow-button)]
            disabled:bg-alpha-accent/85
            disabled:pointer-events-none
            ;
	}
}