@layer components {
	/* Form Input */
	/* min-h-3000 min-w-40000 */
	.alpha-form-input {
		@apply p-3 sm:p-4 block
			w-full
            border border-alpha-border-100 
			bg-alpha-form-bg dark:bg-alpha-form-bg
            rounded-[var(--spacing-0875)] 
			
            text-alpha-body-dark dark:text-alpha-body-dark
            sm:text-body-regular-15 
            placeholder:text-alpha-body-light dark:placeholder:text-alpha-body-light
            
            hover:border-alpha-border-200
            
            focus:outline-none
            focus:border-alpha-accent

            disabled:pointer-events-none 
            disabled:bg-alpha-grey-200;
	}

	/* Text Editor Input */
	.text-editor-input {
		@apply p-3 bg-transparent rounded-bl-none rounded-br-none sm:p-4 placeholder:text-alpha-body-light min-h-108125 min-w-30625;
	}

	.tiptap-editor-menu {
		@apply sticky top-0 bg-none 
            flex align-middle gap-x-0.5  
            rounded-bl-[var(--spacing-0875)]
            rounded-br-[var(--spacing-0875)]
            border-b border-alpha-border-100 p-2
            border-l border-r;
	}

	/* Form Date Picker */
	.form-date-picker-shared {
		@apply relative flex w-full px-2 py-1 text-sm bg-white cursor-pointer hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 text-nowrap text-start focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-1 dark:bg-neutral-900 dark:border-neutral-700;
	}

	.form-date-picker-months {
		@apply text-red-600 dark:text-red-500;
	}

	.form-date-picker-years {
		@apply text-blue-600 dark:text-blue-500;
	}

	.form-date-picker-single-month {
		@apply flex flex-col overflow-hidden bg-white dark:bg-neutral-900 dark:border-neutral-700;
	}
	.form-date-picker-single-month-header {
		@apply items-center gap-x-3 grid grid-cols-5 mx-1.5 pb-3;
	}

	.hs-datepicker {
		@apply min-w-145625;
	}

	/* Multi Select */
	.alpha-hs-select-dropdown {
		@apply mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 
		bg-alpha-grey-100 border border-gray-200 
		 rounded-[var(--spacing-0875)] overflow-hidden overflow-y-auto 
		[&::-webkit-scrollbar]:w-2 
		[&::-webkit-scrollbar-thumb]:rounded-[var(--spacing-04375)]  
		[&::-webkit-scrollbar-track]:bg-gray-100 
		[&::-webkit-scrollbar-thumb]:bg-gray-300 
		
		dark:[&::-webkit-scrollbar-track]:bg-neutral-700 
		dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 
		dark:bg-alpha-grey-100 dark:border-alpha-body-light;
	}

	.alpha-hs-select-dropdown-option {
		@apply w-full px-4 py-2 text-sm text-gray-800 rounded-lg cursor-pointer hover:bg-gray-100 focus:bg-gray-100 dark:bg-alpha-grey-100 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 hs-select-disabled:opacity-50 focus:outline-hidden dark:text-neutral-200 hs-select-disabled:pointer-events-none;
	}

	.alpha-hs-select-droppdown-wrapper {
		@apply relative flex flex-wrap items-center bg-white
		dark:bg-alpha-grey-100 ps-0.5 pe-9 w-40000 
		
		border border-alpha-border-100 dark:border-alpha-border-100 
		focus:border-alpha-blue-dark rounded-lg focus:ring-alpha-blue-dark 
		
	  dark:text-alpha-body-light text-sm text-start text-nowrap;
	}

	.alpha-hs-select-droppdown-tag-item-avatar {
		@apply flex flex-nowrap items-center relative z-10 
		bg-alpha-grey-100 border border-gray-200 rounded-[var(--spacing-04375)] 
		p-04375 m-0.5 dark:bg-alpha-form-user-bg dark:border-neutral-700

		[&_[data-icon]]:size-6
		[&_[data-title]]:whitespace-nowrap;
	}

	/*TODO: Need to update the avatars to follow template*/
	.alpha-hs-select-droppdown-tag-item-remove {
		@apply inline-flex items-center justify-center text-sm rounded-full cursor-pointer shrink-0 size-5 ms-2 text-alpha-body-dark hover:bg-gray-300 focus:outline-hidden focus:ring-2 focus:ring-gray-400 dark:hover:bg-neutral-700 dark:text-neutral-400;
	}

	/* Multi Select End */

	/* Label */
	.alpha-form-label {
		@apply block py-0875;
	}


	/* Displaying Errors Inspired by Hans Refactored by Google Gemini AI */ 
    .alpha-form-validation-icon {
        @apply hidden mr-1 align-middle size-1000 text-alpha-dark-red;
    }

    .alpha-form-error-message {
        @apply  align-middle text-alpha-red dark:text-alpha-red;
    }

    /* When input has error, style sibling span */
    .input-validation-error ~ .alpha-form-error-message{
        @apply whitespace-pre-line inline-flex items-center 
		gap-x-1.5 px-3 py-1 my-0250 rounded-lg bg-alpha-red-opacity;
    }

	.alpha-add-background-error{
		@apply  whitespace-pre-line  items-center gap-x-1.5 px-3 py-1 my-0250 rounded-lg bg-alpha-red-opacity;
	}


	.alpha-field-validation-valid{
		@apply  border border-alpha-green;
	}
	.alpha-field-validation-invalid{
		@apply  border border-alpha-dark-red;
	}

	.special-all-error-message{
		@apply inline-flex items-center gap-x-1.5 px-3 py-1 my-0250 rounded-lg
		bg-alpha-red-opacity align-middle text-alpha-red dark:text-alpha-red;
	}

	.alpha-form-hidden{
		@apply hidden ;
	}
	.alpha-form-show{
		@apply hidden ;
	}


	.alpha-form-checkbox-styled {
		@apply shrink-0 mt-0.5
		border border-gray-200 dark:border-neutral-700
		rounded-sm
		text-blue-600
		focus:ring-blue-500
		checked:bg-blue-500 checked:border-blue-500
		dark:bg-neutral-800 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800
		disabled:opacity-50 disabled:pointer-events-none;
	}

}
